
.card{
    display: inline;
    justify-content: center;
    margin-top: 1%;
    margin-right: 5%;
    background-color: #ececec;
}
.card-body{
    background-color: #ececec;
}
.form-label{
    color: black;
}
.divider{
    width: 100%;
    height: 2px;
    background-color: #2c2c2c;
}

/* .dark-mode */

.dark-mode label.form-label{
    color: #ffffff;
}
.dark-mode div.card-body{
    background-color: #2c2c2c;
}
.dark-mode div.card{
    background-color: #2c2c2c;
    color: #ffffff;
}
.dark-mode input, .dark-mode textarea.form-control, .dark-mode select.form-select{
    color: #ffffff;
    background-color: #535252; 
    border-color: #535252;
}
.dark-mode input::placeholder, .dark-mode textarea.form-control::placeholder{
    color: #a7a2a2;
}
.dark-mode input:focus, .dark-mode textarea:focus {
    color: #ececec;
    background-color: #535252;
    border-color: #535252;
}

.dark-mode input:active, .dark-mode textarea:active {
    color: #ececec;
    background-color: #535252;
    border-color: #535252;
}

